.top-container{
    background-color:#EAF6F6;
   text-align: center;
   
    padding:100px;
   
}
.design1{
    padding:100px;
}
h1{
    padding:30px 10px 0px 0px;
    font-size: 60px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Pacifico', cursive;
    color: #66bfbf;

}
.profile-description{
    color: #40514E;
    font-weight:1000;
    
}
.border-line{
    border-style: none none dotted none;
    width:5%;
    border-color: #EAF6F6;
    border-width:7px;
    margin:100px auto 100px auto;

}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom:0px;
    text-align: center;
}
.h2{
   
   font-size: 2.5rem;
   color: #66bfbf;
   font-weight:normal;
   font-family: sans-serif;
}
.skill-p1{
    text-align: left;
 
    color: #40514E;
   
}
.skill-p2{
    text-align: left;
  
    color: #40514E;
   
}
.skills-h2{
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight:normal;
    font-family: sans-serif;
}


span{
    text-decoration: underline;
}

.top-cloud{
    position:absolute;
    right:340px;
}
.bottom-cloud{
    
    position:absolute;
    left:330px;

}
.design2{
    width:25%;
    float:left;
   border-radius:50%;
   margin-right:30px;
   
}
.design3{
    width:25%;
    float:right;
    margin-left:30px;
}


h2{
    color:#11999E;
}
h3{
    color:#11999E;
   
}

a{
    color:#11999E;
    font-family: sans-serif;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;

}

.skill-row{
   margin:100px auto 100px auto;
   line-height: 2;
    width:50%;
    text-align:left;
}
.bottom-container{
    background-color:#66bfbf;
   
    padding:30px;
    
}
.copyright{
    color: #EAF6F6;
    font-size:10px;
    padding-top: 20px;
}